.black-shadow {
  text-shadow: 0 0 35px black;
}

.white-shadow {
  text-shadow: 0 0 35px white;
}

.black,
blockquote p {
  color: black;
}
.orange {
  color: orange;
}

blockquote {
  background: rgba(255, 255, 255, .35) !important;
}
